body {
	background-image:url("/img/polygon-blue.jpg");
}

.btn {
	white-space:normal;
}

.content {
	margin-top:10px;
}

.green-panel {
	background-color:#dff0d8;
	color:#3c763d;
}

.green-panel h1{
	color:#333;
}

.optiontab > *{
	width:100%;
	margin-bottom:10px;
	border: 1px solid #ccc;
	background-color: #fff;
}

.pn-btn {
	display:block;
	margin-right: auto;
	margin-left: auto;
	width:129px;
}

.pn-btn * {
	border-color:#fff;
}

.bactive {
	background:#fbff00;
	color:#000;
}

.pan-r, .pan-i ,.pan-a, .pan-s, .pan-e, .pan-c {
	text-align: center;
}

.pan-r {
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.pan-i {
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.pan-a {
	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.pan-s {
	color: #d265c4;
    background-color: #f5c4ef;
    border-color: #ffd6fa;
}

.pan-e {
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.pan-c {
	color: #f95518;
    background-color: #ffbba2;
    border-color: #ffe7de;
}

.panel-login {
	max-width:300px;
	display:block;
	margin-right:auto;
	margin-left:auto;
	height:272px;
}

.panel-register {
	max-width:300px;
	display:block;
	margin-right:auto;
	margin-left:auto;
	height:950px;
}

.panel-login h2, .panel-register h2 {
	text-align: center;
}

.panel-login button, .panel-register button {
	margin-top:10px;
}

.panel-message {
	background-color: #ffa7a7;
    border-radius: 3px;
}

.panel-message * {
	margin:2px;
}

.modal-ket {
	text-align: center;
}

@media only screen and (min-width: 768px) {
    .panel-login {
        margin-top:100px;
    }

    .panel-intro {
    	margin-top:230px;
    }
}